h1{
	font-size: 90px;
	margin-top:0px;
	margin-left: 11%;
	bottom: 20px;
}
h2{
	font-size: 30px;
}
body{
	background-color: gray;
}

#main{
	width: 80%;
	height: 800px;
	margin-left: 10%;
	background-color: white;
}
nav{
	padding-left: 1%;
	font-size: 20px;
	background-color: red;

}
button{
	color: white;
	style:none;

}
#banaan{
	display: flex;
	flex-wrap: wrap;
	margin-left: 10px;
}
#text{
	width: 300px;
}
